body {
    background-color: rgb(35, 28, 28);
    color: aliceblue;
}

h1 {
    color:aliceblue;
    text-align: center;
    font-size: 100px;
}

#cast-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  
  .cast-item {
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 20px;
    background-color: dimgrey;
    border-radius: 12px;
  }